* {
	box-sizing: border-box;
}

html,
body {
	color: #ffffff;
	background-color: #1b1924;
	font-family: "Inter", sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	max-width: 320px;
	margin: auto;
	gap: 5px;
}

#logo {
	margin: 40px auto 0;
	width: 90px;
}

h1,
h2,
button {
	font-family: "Josefin Sans", sans-serif;
	font-weight: 700;
	text-align: center;
}

h1 {
	font-size: 1.6rem;
}

h2 {
	font-size: 1.25rem;
}

#form {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

#form > * {
	width: 100%;
	border: none;
	border-radius: 8px;
}

#form textarea,
#form input {
	color: white;
	background-color: #444059;
	padding: 9px 16px;
}

#form textarea {
	resize: none;
	height: 120px;
}

#form input {
	flex: 1;
	text-align: center;
}

#form button {
	font-size: 1.4rem;
	color: #04131c;
	background-color: #28a9f1;
	padding: 16px 0 12px;
}

ul {
	display: flex;
	flex-flow: column-reverse;
	padding: 0;
	margin: 0;
	gap: 12px;
}

li {
	color: #1b1924;
	background-color: #ffffff;
	padding: 12px 16px;
}

h5 {
	font-size: 0.875rem;
	margin: 0;
}

p {
	font-size: 0.875rem;
	margin: 0.7rem 0;
}
